body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#chat-container {

    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    max-width: 600px;
    background-color: #1f1f1f;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: hidden;
    justify-content: space-between;
}

#answer {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
}

#question-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border-top: 1px solid #333;
}

#question-bar input {
    flex-grow: 1;
    padding: 10px;
    background-color: #3a3a3a;
    border: 1px solid #555;
    border-radius: 5px;
    margin-right: 10px;
    color: #e0e0e0;
}

#question-bar button {
    background-color: #575757;
    color: #e0e0e0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#question-bar button:hover {
    background-color: #414141;
}

.userP {
    align-self: flex-end;
    max-width: 70%;
    margin: 5px;
    background-color: #333;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.userP i {
    margin-right: 5px;
    color: #e0e0e0;
}

.answerP {
    align-self: flex-start;
    max-width: 70%;
    margin: 5px;
    background-color: #444;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.answerP i {
    margin-right: 5px;
    color: #e0e0e0;
}

p {
    margin: 5px 0;
}

.logout {
    position: absolute;
    top: 20px;
    right: 1%;
    color: #e0e0e0;
    text-decoration: none;
}

#lang {
    position: absolute;
    top: 20px;
    left: 12%;
    background-color: #444;
    color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

.langLabel{
    position: absolute;
    top: 20px;
    left: 1%;

    color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
}

#newChat{
    position: absolute;
    top: 20px;
    left: 48%;
}


#newChatI{
    padding-left: 10px ;
}