* { box-sizing: border-box; }
body {
    font: 16px Arial;
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
input , button{
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
button {
    background-color: DodgerBlue;
    color: #fff;
    border: transparent 0;
    width: 50px;
    margin-bottom: 20px;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.answer {
    margin-top: 25px;
    width: calc(100% - 40px); /* Full width minus margins */
    height: calc(100vh - 20px); /* Full height minus top and bottom margins */
    margin: 10px; /* Margins on left and right */
    overflow: auto; /* Enable scrolling */
    border: none; /* Hide border */
    box-sizing: border-box; /* Include padding and border in width and height calculations */
}

.answerP {
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 16px; /* Set font size */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
