<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ai Chat Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registerCss.css') }}">
</head>
<body>
<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
        <header>Login</header>
        <form action="/login"  method="POST">
            <input type="text" placeholder="Enter your username" name="username">
            <input type="password" placeholder="Enter your password" name="password">
            {% if message %}
            <p style="color: red;">{{ message }}</p>
            {% endif %}
            <input type="submit" class="button" value="Login">
        </form>
        <div class="signup">
        <span class="signup">Don't have an account?
         <label for="check">Signup</label>
        </span>
        </div>
    </div>
    <div class="registration form">
        <header>Signup</header>
        <form action="/register" method="POST">
            <input type="text" placeholder="Enter your username" name="username">
            <input type="password" placeholder="Create a password" name="password">
            <input type="password" placeholder="Confirm your password">
            <input type="submit" class="button" value="Signup">

        </form>
        <div class="signup">
        <span class="signup">Already have an account?
         <label for="check">Login</label>
        </span>
        </div>
    </div>
</div>
</body>
</html>